OUTPUT_DIR=output

EXA_API_KEY=xxx
SERPAPI_API_KEY=xxx

OPENAI_API_KEY=xxx
OPENAI_BASE_URL=xxx

MODELSCOPE_API_KEY=xxx
MODELSCOPE_BASE_URL=xxx

TRUST_REMOTE_CODE=true

# Workflow configuration
WORKFLOW_CONFIG=src/config/workflow.yaml
WORKFLOW_QUERY=生成一个贪吃蛇游戏。
WORKFLOW_MAX_ITERS=3